.about-us {
  .title {
    font-size: 60px !important;
    &::before {
      left: 44%;
      width: 12%;
    }
  }
  .flexx {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    .img {
      flex: 1;
    }     
    .text {
      flex: 1;
      font-size: 18px;
      line-height: 1.9;
      .bold {
        font-weight: bold;
        font-size: 17px;
      }
      .one {
        display: inline-block;
        margin: 8px 0;
      }
      .two {
        display: inline-block;
        margin-bottom: 10px;
      }
    }
  }
}


@media (max-width: 767px) {
  .about-us {
    .card {
      width: 200px !important;
    }
  }
}