.about-us {
  .title {
    &::before {
      left: 47%;
      width: 6%;
    }
  }
  .flexx {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    .img {
      flex: 1;
    }     
    .text {
      width: 400px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      .card {
        transition: .3s;
        .cardd-body {
          justify-content: center;
          align-self: center;
          flex: 1 1 auto !important;
          text-align: center;
        }
        &:hover {
          background-color: $purple;
          color: $white;
        }
      }
    }
  }
}


@media (max-width: 767px) {
  .about-us {
    .card {
      width: 200px !important;
    }
  }
}