.hero {
  min-height: calc(100vh - 82px) !important;
  background-image: url('../img/wave.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 99;
  position: relative;
  overflow-x: hidden !important;
  svg {
    width: 174%;
    height: 1127px;
  }
  .text {
    color: $dark !important;
    position: absolute;
    font-weight: 800 !important;
    right: 6%;
    bottom: 35%;
    .boton {
      background-color: $purple;
      border: 1px solid $purple;
      transition: .3s;
      &:hover {
        background-color: transparent;
        border: 1px solid $purple;
      }
    }
  }
}

@media (min-width: 992px) {
  .hero {
    .lead {
      width: 50%;
    }
  }
}