.hero {
  position: relative;
  overflow-x: hidden !important;
  .flex {
    display: flex;
    justify-content: center;
    align-items: center; 
    .img {
      .text {
        color: $white;
        position: absolute;
        right: 17%;
        bottom: 50%;
        .boton {
          background-color: $purple;
          border: 1px solid $purple;
          transition: .3s;
          &:hover {
            background-color: transparent;
            border: 1px solid $purple;
          }
        }
      }
    }
  }
}