.formm {
  background-image: url('../img/wave.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  .nav {
    padding: 1px 10px;  
    .navbar-brand {
      margin: 0;
    }
    .navbar-toggler {
      background-color: $white;
      border: none !important;
      outline: none !important;
    }
    .links {
      justify-content: flex-end;
      a {
        color: $white !important;
        font-weight: bold;
        font-size: 17px;
      }
    }
  }
  .loginForm {
    padding: 60px;
    background-color: $white;
    box-shadow: 3px 3px 20px $purple;
    width: 800px;
    margin: 0 auto;
    .form-control {
      &:focus {
        border-color: $purple !important;
        box-shadow: 0 0 0 0.25rem $purple !important;    
      }
    }
    .btn {
      background-color: $purple !important;
      border: 1px solid $purple !important;
      width: 100%;
    }
  }
}

// Phones 
@media (min-width: 57px) and (max-width: 767px) {
  .formm {
    nav {
      .links {
        padding-top: 28px;
      }
    }
    .loginForm {
      width: 100% !important;
      height: 500px;
    }
  }
}