.formm {
  background-image: url('../img/wave.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  .loginForm {
    padding: 60px;
    background-color: $white;
    box-shadow: 3px 3px 20px rgb(0, 0, 0,0.2);
    width: 800px;
    margin: 0 auto;
    .form-control {
      &:focus {
        border-color: $purple !important;
        box-shadow: 0 0 0 0.25rem $purple !important;    
      }
    }
    .btn {
      background-color: $purple !important;
      border: 1px solid $purple !important;
      width: 100%;
    }
  }
}
