.services {
  overflow: hidden;
  .title {
    color: $dark !important;
    font-size: 40px !important;
    &::before {
      left: 44%;
      width: 12%;
    }
  }
  .container {
    padding: 60px;
    background-color: $white;
    box-shadow: 3px 3px 20px $purple;
    .row {
      gap: 60px  0 !important; 
      .card-body {
        flex: 1 1 230px;
        .card-title {
          color: $purple;
        }
      }
    }
  }
}

@media (min-width: 57px) and (max-width: 767px) {
  .services {
    .card-body {
      flex: 1 1 auto !important;
    }
  }  
}