.whatsapp {
  background-image: url('../img/wave.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  .nav {
    padding: 1px 10px;  
    .navbar-brand {
      margin: 0;
    }
    .navbar-toggler {
      background-color: $white;
      border: none !important;
      outline: none !important;
    }
    .links {
      justify-content: flex-end;
      a {
        color: $white !important;
        font-weight: bold;
        font-size: 17px;
      }
    }
  }
  .qr {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px !important;
    .titlewhats {
      color: $white !important;
    }
  }
}
