/* Main Setting  */

html {
  scroll-behavior: smooth;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh !important;
  background-image: url('../img/wave.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 99;
  position: relative;
  overflow-x: hidden !important;
  background-color: #FFF;
  transition: background-color .6s cubic-bezier(.7, 0, .7, 1);  
  font-family: "Readex Pro", sans-serif !important;
  font-size: 1rem;
  line-height: 1.4;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.pd {
  padding: 200px 0;
}

::selection {
  color: #FFF;
  background-color: #7c4ab6;
}

.logpage .gridd {
  display: grid;
  grid-template-columns: 290px 1fr 100px;
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  align-items: center;
}

.logpage .links {
  flex: 0 0 300px;
  height: 100vh;
  padding: 30px;
  background-color: #7c4ab6;
}

.logpage .links ul {
  margin-top: 120px;
}

.logpage .links ul a {
  margin-bottom: 40px;
  color: #FFF;
  text-decoration: none;
  display: block;
  font-size: 19px;
}

.logpage .content {
  padding: 20px !important;
}

.dmode {
  position: fixed;
  top: 50px;
  left: 150px;
  color: #FFF;
  transition: .2s;
}

.dmode:hover {
  color: #242526;
}

.dmode i {
  font-size: 35px;
  cursor: pointer;
}

.theme {
  background-color: #242526;
}
